<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 box shadow p-3 mb-5 bg-white rounded">
      <form #form="ngForm" novalidate (ngSubmit)="loginUser(form)">
        <div class="form-group">
          <input type="email" id="email" class="form-control" name="email" required ngModel
            placeholder="Enter Your Email" email />
        </div>
        <div class="form-group">
          <input type="password" id="Password" class="form-control" name="password" required ngModel
            placeholder="Enter Your Password" />
        </div>
        <div class="form-group">
          <button type="submit" value="Login" class="btn btn-primary" [disabled]="form.invalid">
            Login <i class="fa fa-sign-in" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
