<p>
  <a class="btn btn-outline-primary mt-3" [routerLink]="['/dashboard/empAdd']" routerLinkActive="router-link-active"
    *ngIf="(dataService.checkRoleAdmin() || dataService.checkRoleHR())">Add New Employee</a>
    <a class="btn btn-outline-primary mt-3" [routerLink]="['/dashboard/empEdit',emp.id]" routerLinkActive="router-link-active"
    *ngIf="!(dataService.checkRoleAdmin() || dataService.checkRoleHR())">Update Your Profile</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>Contact Number</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>
        {{emp.name}} {{emp.surname}}
      </td>
      <td>
        {{emp.address}}
      </td>
      <td>
        {{emp.qualification}}
      </td>
      <td>
        {{emp.contact_Number}}
      </td>
      <td>
        {{emp.department.name}}
      </td>
      <td *ngIf="(dataService.checkRoleAdmin() || dataService.checkRoleHR())">
        <a class="btn btn-outline-primary btn-sm"
        [routerLink]="['/dashboard/empEdit',emp.id]">Edit</a> |
        <a class="btn btn-outline-danger btn-sm"
        (click)="deleteEmployee(emp)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
