<p>
  <a class="btn btn-outline-primary mt-3" [routerLink]="['/dashboard/empAdd']" routerLinkActive="router-link-active"
    *ngIf="(dataService.checkRoleAdmin() || dataService.checkRoleHR())">Add New Employee</a>
    <a class="btn btn-outline-primary mt-3" [routerLink]="['/dashboard/empEdit',emp.id]" routerLinkActive="router-link-active"
    *ngIf="!(dataService.checkRoleAdmin() || dataService.checkRoleHR())">Update Your Profile</a>
</p>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>Contact Number</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employssWithSameDept  | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>
        {{emp.name}} {{emp.surname}}
      </td>
      <td>
        {{emp.address}}
      </td>
      <td>
        {{emp.qualification}}
      </td>
      <td>
        {{emp.contact_Number}}
      </td>
      <td>
        {{emp.department.name}}
      </td>
      <td *ngIf="(dataService.checkRoleAdmin() || dataService.checkRoleHR())">
        <a class="btn btn-outline-primary btn-sm"
        [routerLink]="['/dashboard/empEdit',emp.id]"><i class="far fa-edit"></i></a> |
        <a class="btn btn-outline-danger btn-sm"
        (click)="deleteEmployee(emp)"><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event">
